<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Clients App</h1>
            <h3 class="mb-5">
                <em>Almacena tus clientes y su informacion</em>
            </h3>
            <a href="/signin" class="btn btn-primary buton">Iniciar sesion</a>
        </div>
    </header>
</main>