

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <a href="/clients" class="btn btn-primary m-4">Ver sus clientes</a>
                </div>
            </div>
        </div>
    </div>
</div>