<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/clients/add" method="POST">
                        <div class="form-group">
                            <input type="number" class="form-control" name="cid" placeholder="Cedula de ciudadania" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="first_name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="last_name" placeholder="Apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="tc_number" placeholder="Numero de tarjeta de credito">
                        </div>
                        <div class="form-group">
                             <input type="text" pattern="\d*" maxlength="4" name="cvv" placeholder="CVV" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="month" class="form-control" name="expiration_date" placeholder="Fecha de expiracion de tarjeta de credito" min="2020-06"  max="2024-12">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>