<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/clients/edit/{{client.id}}" method="POST">
                        <div class="form-group">
                            <label for="cid">Cedula de ciudadania:</label>
                            <input type="number" value='{{client.cid}}' class="form-control" name="cid"
                                placeholder="Cedula de ciudadania" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Nombre:</label>
                            <input type="text" value='{{client.first_name}}' class="form-control" name="first_name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Apellido:</label>
                            <input type="text" value='{{client.last_name}}' class="form-control" name="last_name" placeholder="Apellido">
                        </div>
                        <div class="form-group">
                            <label for="tc_number">Numero de tarjeta de credito:</label>
                            <input type="text" value='{{client.tc_number}}' class="form-control" name="tc_number"
                                placeholder="Numero de tarjeta de credito">
                        </div>
                        <div class="form-group">
                            <label for="cvv">CVV:</label>
                            <input type="text"  pattern="\d*" maxlength="4" value='{{client.cvv}}' class="form-control" name="cvv" placeholder="CVV">
                        </div>
                        <div class="form-group">
                            <label for="expiration_date ">Fecha de expiracion:</label>
                            <input type="month" value='{{client.expiration_date}}' class="form-control" name="expiration_date"
                                placeholder="Fecha de expiracion de tarjeta de credito" min="2020-06"  max="2024-12">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>