<div class="container p-4">
    <div class="row">
        {{#each clients}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{first_name}} {{last_name}}
                        </h3>
                    <p>Tarjeta de credito: {{tc_number}}</p>
                    <a href="/clients/delete/{{id}}" class="btn btn-danger">Eliminar cliente</a>
                    <a href="/clients/edit/{{id}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No existen clientes guardados aún</p>
                <a href="/clients/add">CREAR UNO</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>