body {
  background-color: #f5f6f5;
  overflow: hidden;
}

.index {
  width: 100vw;
  height: 100vh;
}

.masthead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  background: url("/img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.buton {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 5.5rem;
  }
}


